'scopeName': 'source.magma'
'name': 'Magma'
'fileTypes' : ['magma']
'patterns': [
    {
      'match': ';'
      'name': 'punctuation.terminator.statement.magma'
    }
    {
      'begin': '/\\*'
      'end': '\\*/'
      'name': 'comment.block.magma'
    }
    {
      'begin': '//'
      'end': '\\n'
      'name': 'comment.line.magma'
    }
    {
      'begin': '"'
      'end': '"'
      'name': 'string.quoted.double.magma'
    }
    {
      'match': '#|\\+|:|\\||~|:='
      'name': 'keyword.operator.magma'
    }
    {
      'match': '\\b(procedure|if|for|while|do|then|else|end|in|to|print|ne|eq|gt|lt|function|return)\\b'
      'name': 'keyword.controle.magma'
    }
    {
      'match': '\\b([0-9]+(.[0-9]+)?)|true|false'
      'name': 'constant.numeric.magma'
    }
    {
      'match': '[A-Za-z][A-Za-z0-9]*(?=(\\s)*(\\(|<))'
      'name': 'entity.name.function.magma'
    }
    {
      'match': 'meet|join'
      'name': 'entity.name.function.infix.magma'
    }
    {
      'match': '[A-Za-z][A-Za-z0-9]*'
      'name': 'variable.other.magma'
    }
]
